<p>
  Wind’s internal android application for selling offers and mobile solutions to
  other companies. Native application mostly optimized for tablets. Development
  of complex validation logic for specific "combo offers/solutions".
</p>
